<div class="new-password-page">

  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-content">
      <span class="brand">Garde-manger</span>
    </div>
  </nav>


  <!-- Zone centrale -->
  <main class="main-content">

    <div class="new-password-card">

      <h1>Nouveau mot de passe</h1>

      <p class="subtitle">
        Modification du mot de passe
      </p>


      <!-- Email du compte -->
      <p class="account-email">
        {{ email }}
      </p>

      <form (submit)="validate($event)">
      <!-- Nouveau mot de passe -->
      <div class="form-group">

        <label for="password">
          Nouveau mot de passe*
        </label>

        <div class="password-container">

          <input
            id="password"
            [type]="passwordVisible ? 'text' : 'password'"
            placeholder="Entrez votre nouveau mot de passe"
            name="password"
            [disabled]="!canSubmit"
            required
          />

          <button
            type="button"
            class="show-password-button"
            (click)="togglePassword()"
            [disabled]="!canSubmit"
          >
            {{ passwordVisible ? 'Masquer' : 'Afficher' }}
          </button>

        </div>

      </div>


      <!-- Confirmation -->
      <div class="form-group">

        <label for="passwordConfirmation">
          Confirmer le mot de passe*
        </label>

        <div class="password-container">

          <input
            id="passwordConfirmation"
            [type]="passwordConfirmationVisible ? 'text' : 'password'"
            placeholder="Confirmez votre nouveau mot de passe"
            name="passwordConfirmation"
            [disabled]="!canSubmit"
            required
          />

          <button
            type="button"
            class="show-password-button"
            (click)="togglePasswordConfirmation()"
            [disabled]="!canSubmit"
          >
            {{ passwordConfirmationVisible ? 'Masquer' : 'Afficher' }}
          </button>

        </div>

      </div>


      <!-- Message -->
      <p
            id="message"
            [class.success-message]="messageSuccess"
        >
            {{ message }}
        </p>


      <!-- Modifier -->
      <button
        type="submit"
        class="modify-password-button"
        [disabled]="!canSubmit"
      >
        Modifier le mot de passe
      </button>


      <!-- Retour -->
      <button
        type="button"
        class="back-button"
        (click)="goBack()"
      >
        Retour
      </button>
      </form>

    </div>

  </main>


  <!-- Footer -->
  <footer class="footer">

    <p>
      © 2026 Ashley RAKOTOARISOA
    </p>

  </footer>

</div>