<div class="forgot-page">

  <!-- Navbar fixe -->
  <nav class="navbar">
    <div class="navbar-content">
      <span class="brand">Garde-manger</span>
    </div>
  </nav>

  <!-- Seule cette partie peut défiler -->
  <main class="main-content">

    <div class="forgot-card">

      <h1>Mot de passe oublié</h1>

      <p class="subtitle">
        Renseignez votre adresse email
      </p>

      <form (submit)="validate($event)">

        <div class="form-group">
          <label for="email">Email*</label>

          <input
            id="email"
            type="email"
            name="email"
            placeholder="Entrez votre adresse email"
            required
          />
        </div>

        <!-- Message d'erreur -->
        <p
            id="message"
            [class.success-message]="messageSuccess"
        >
            {{ message }}
        </p>

        <!-- Connexion -->
        <button
          type="submit"
          class="check-button"
        >
          Vérifier l'adresse email
        </button>

        <button
          type="button"
          class="back-button"
          (click)="goBack()"
        >
          Retour
        </button>

      </form>

    </div>

  </main>

  <!-- Footer fixe -->
  <footer class="footer">
    <p>© 2026 Ashley RAKOTOARISOA</p>
  </footer>

</div>